
body {
    font-family: "Kanit", sans-serif;
    font-weight: 300;
    font-style: normal;
    background-color: 	rgb(211,211,211);
    margin: 5px;
}

h1 {
    text-align: center;
}

span.description {
    display: none;
    font-size: 0.75em;
}

li:hover > span.description {
    display: inline;
}

li {
    margin-bottom: 5px;
}

div#completed, div#in-progress {
    background-color:rgba(123,104,238, 0.3);

    border: medium solid blue;
    padding: 5px;
    margin: 5px;

}
